button.blog-btn{
    background-color: $nickel;
    color: $white;
    border: solid 1px $nickel;
    padding: 1em 1.5em;
    border-radius: 2em;
    transition: .3s;
    font-size: .9em;
    &:hover{
        background-color: $light-gray;
        color: $white;
        border: solid 1px $light-gray;
    }
    &:focus{
        background-color: $nickel;
        color: $white;
    }
}